[submodule "Math"]
	path = Math
	url = git@github.com:www-karan-codes/m_game-hacking-math.git
[submodule "BaseStructures"]
	path = BaseStructures
	url = git@github.com:www-karan-codes/m_game-hacking-base-structures.git
